.my{
    color: #00ABFF;
    background-color: #00FFAA;
}
form{
    margin-top: 20px;
    margin-bottom: 20px;
}
placeholder{
   color: #AB0F00;
}
.le{
    color: #aaffff;
    width: 60px;
    height: 40px;
    margin: 0 auto;
    margin-top: 50px;
}
.ri{
    margin: 0 auto;
    width: 300px;
    color: #008800;
}
footer{
    margin-bottom: 50px;
}
body{
    margin-top: 20px;
}
.para{
    width: 250px;
    background-color: #fdd;
    margin: 0 auto;
}
@media screen and (min-width: 500px) {  
     #wapp{  
        display: none;  
    }  
} 
p{
    color: #000;
    text-align: center;
}
ul {
    padding-left: 0rem;
}
li{
    margin: 5px;
    background-color: #aff;
    list-style-type: none;
}
li span{
    float: right;
}
#canvas{
    margin: 0 auto;
    margin-top: 15px;
    width: 245px;
    height: 245px;
}